<mat-card class="company-card">
  <mat-card-header [routerLink]="['/companies', _company.id]">
    <div mat-card-avatar class="company-card__image"></div>
    <mat-card-title class="company-card__title">{{_company.legalForm + ' "' + _company.name}}"</mat-card-title>
    <mat-card-subtitle>{{_company.edrpo_inn}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

