.company-card {
  width: 200px;
  cursor: pointer;
    &__image {
    background-image: url('https://raw.githubusercontent.com/IrwinJuice/public-trash/master/logo-bus-100.png');
    background-size: cover;
  }
  &__title{
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
