<div>

  <form [formGroup]="formCompany" (ngSubmit)="submit()">
    <div class="toolbar">
      <app-toolbar [title]="'Загальна інформація'">
      </app-toolbar>
    </div>
    <div class="company__form">
      <mat-form-field class="company__form_field" appearance="outline">
        <mat-label>Організаційно правова форма</mat-label>
        <mat-select
          aria-label="Організаційно правова форма"
          formControlName="legalForm">
          <mat-option *ngFor="let cType of containerType"
                      [value]="cType.type"
          >
            {{cType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="company__form_field" appearance="outline">
        <mat-label>Назва компанії</mat-label>
        <input type="text"
               aria-label="Назва компанії"
               matInput
               formControlName="name">
      </mat-form-field>
      <mat-form-field class="company__form_field" appearance="outline">
        <mat-label>ЄДРПОУ/ІНН</mat-label>
        <input type="text"
               aria-label="ЄДРПОУ/ІНН"
               matInput
               formControlName="edrpou">
      </mat-form-field>
    </div>

    <div class="toolbar">
      <app-toolbar [title]="'Додаткова інформація '">
      </app-toolbar>
    </div>
    <div formGroupName="address">
      <mat-form-field class="company__form_field" appearance="outline">
        <mat-label>Країна</mat-label>
        <input type="text"
               aria-label="Країна"
               matInput
               formControlName="country">
      </mat-form-field>
      <mat-form-field class="company__form_field" appearance="outline">
        <mat-label>Місто</mat-label>
        <input type="text"
               aria-label="Місто"
               matInput
               formControlName="city">
      </mat-form-field>
      <mat-form-field class="company__form_field" appearance="outline">
        <mat-label>Вулиця</mat-label>
        <input type="text"
               aria-label="Вулиця"
               matInput
               formControlName="street">
      </mat-form-field>
      <mat-form-field class="company__form_field" appearance="outline">
        <mat-label>Будинок</mat-label>
        <input type="text"
               aria-label="Будинок"
               matInput
               formControlName="building">
      </mat-form-field>
      <mat-form-field class="company__form_field" appearance="outline">
        <mat-label>Офіс</mat-label>
        <input type="text"
               aria-label="Офіс"
               matInput
               formControlName="office">
      </mat-form-field>

    </div>
    <div class="company__form">
      <div class="company__form_field" formGroupName="emails">
        <div class="toolbar">
          <app-toolbar [title]="'Emails'">
          </app-toolbar>
        </div>
        <div *ngFor="let email of emails;">
          <mat-form-field class="company__form_field" appearance="outline">
            <input
              type="text"
              matInput
              [value]=email.email
            >
          </mat-form-field>
        </div>
        <button *ngIf="onCreate"
                mat-stroked-button color="primary" type="button" (click)="addEmail()">Додати email
        </button>
        <div
          class="form-control"
          *ngFor="let controlEmail of formCompany.get('emails')['controls']; let idx = index"
        >
          <mat-form-field class="company__form_field" appearance="outline">
            <mat-label>Email {{idx + 1}}</mat-label>
            <input type="text"
                   matInput
                   [formControlName]="idx">
          </mat-form-field>
        </div>
      </div>
      <div class="company__form_field" formGroupName="phoneNumbers">
        <div class="toolbar">
          <app-toolbar [title]="'Phone Numbers'">
          </app-toolbar>
        </div>
        <div *ngFor="let phone of phoneNumbers;">
          <mat-form-field class="company__form_field" appearance="outline">
            <input
              type="text"
              matInput
              [value]=phone.phone
            >
          </mat-form-field>
        </div>

        <button *ngIf="onCreate"
                mat-stroked-button color="primary" type="button" (click)="addPhoneNumbers()"
        >Додати телефон
        </button>
        <div
          class="form-control"
          *ngFor="let phoneNumbersControl of formCompany.get('phoneNumbers')['controls']; let idx = index"
        >
          <mat-form-field appearance="outline">
            <mat-label>Телефон {{idx + 1}}</mat-label>
            <input type="text"
                   matInput
                   [formControlName]="idx">
          </mat-form-field>

        </div>
      </div>
    </div>
    <button *ngIf="onCreate"
            class="button" color="primary" type="submit" mat-flat-button>Create
    </button>
  </form>

</div>

