@import "../../../custom-theme";

.company {
  &__form {
    display: flex;
    flex-flow: column;
    justify-content: center;

    &_field {
      align-items: center;
      width: auto;
      margin: 0 8px 16px 8px;
    }
  }
}

.toolbar {
  margin-bottom: 1em;
}
