<mat-dialog-actions>

  <button mat-fab color="warn" class="button" (click)="close()">x</button>
</mat-dialog-actions>
  <h1> Додати нову компанію</h1>
<mat-dialog-content class="popup">

<app-company-details
></app-company-details>

</mat-dialog-content>


