@import "../../../custom-theme";

.mat-expansion-panel {
  border-radius: 16px;
}

.routes-container {
  &__route {
    margin-bottom: 16px;
    border-radius: 16px;
    &--new {
      background-color: white;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      width: 100%;
      padding: 8px;
      :first-child {
        width: 100%;
        border: dashed 2px $primary;
        border-radius: 8px;
      }

    }
  }
}

.toolbar {
  margin-bottom: 1em;
  &__button {
    color: #ba4cff;
  }
}
