<div class="toolbar" >
  <app-toolbar [title]="'Routes'">
    <div class="toolbar__buttons">
      <button class="toolbar__button" color="primary" mat-flat-button (click)="createRoute()">CREATE ROUTE</button>
    </div>
  </app-toolbar>
</div>


<div class="routes-container" *ngIf="!this.loader.getLoader; else loadingComponent">
  <div class="routes-container" *ngIf="!routes || routes.length === 0">
    There are no roads for user.
    You can create a new one by pressing 'Create route' button.
  </div>

  <app-base-route
    *ngFor="let route of routes; index as indexRoute;"
    class="routes-container__route"
    [setRoute]="route"
    setIndexRoute="{{indexRoute}}"
  ></app-base-route>
</div>

<ng-template #loadingComponent>
  <span>Loading user routes...</span>
  <app-page-loading></app-page-loading>
</ng-template>





