@import "../../../custom-theme";

.home {
  &__cards {
    &_card {
      width: 300px;
    }
    &_add {
      width: 100%;
      height: 112px;
    }
    &_icon {
      transform: scale(2);
      color: $primary;
    }
  }
}
.toolbar {
  margin-bottom: 1em;
}
