<div class="home">

  <div class="toolbar">
    <app-toolbar [title]="'Companies'">
      <div class="toolbar__buttons">
        <button class="toolbar__button" color="primary" mat-flat-button (click)="createCompany()">CREATE</button>
      </div>
    </app-toolbar>
  </div>

  <div class="home__cards"
       fxLayout="row wrap"
       fxLayoutAlign="start"
       fxLayoutGap="20px grid"
       fxLayout.lt-sm="column">
    <app-card-company
      *ngFor="let company of user.companies"
      fxFlex.lt-sm="100%"
      [_company]="company"
    ></app-card-company>
  </div>

  <app-divider></app-divider>

  <div class="home__search">
    <div class="toolbar">
      <app-toolbar [title]="'Search'">
      </app-toolbar>
    </div>
    <app-voyage-search-panel>
    </app-voyage-search-panel>

  </div>

</div>

