<div  *ngIf="!this.loader.getLoader; else loadingComponent">
  <form [formGroup]="searchForm" class="search__form" >
    <mat-form-field class="search__form_field" appearance="outline">
      <mat-label>Departure station</mat-label>
      <input type="text"
             aria-label="Departure station"
             matInput
             formControlName="departureStation"
             [matAutocomplete]="autoD"
             (keyup)="applyFilter()"
      >
      <mat-autocomplete #autoD="matAutocomplete" (optionSelected)="applyFilter()">
        <mat-option *ngFor="let city of filteredDepartureStations | async" [value]="city">
          {{city}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="search__form_field" appearance="outline">
      <mat-label>Arrival station</mat-label>
      <input type="text"
             aria-label="Arrival station"
             matInput
             formControlName="arrivalStation"
             [matAutocomplete]="autoA"
             (keyup)="applyFilter()"
      >
      <mat-autocomplete #autoA="matAutocomplete" (optionSelected)="applyFilter()">
        <mat-option *ngFor="let city of filteredArrivalStations | async" [value]="city">
          {{city}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="search__form_field" appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput
             formControlName="departureDate"
             [matDatepicker]="picker"
             (dateInput)="applyFilter()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <div class="search__table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="departureDate">
        <th mat-header-cell *matHeaderCellDef> DEP. DATE</th>
        <td mat-cell *matCellDef="let row" appVoyageTableStyle [status]="row.status"> {{row.departureDateTime | date:'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="departureStation">
        <th mat-header-cell *matHeaderCellDef> DEP. STATION</th>
        <td mat-cell *matCellDef="let row"> {{row.route.stations[0].address.city}} </td>
      </ng-container>

      <ng-container matColumnDef="arrivalStation">
        <th mat-header-cell *matHeaderCellDef> ARR. STATION</th>
        <td mat-cell *matCellDef="let row"> {{row.route.stations[row.route.stations.length-1].address.city}} </td>
      </ng-container>


<!------------------------------------------------------------------------->
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef > AVAILABLE </th>
        <td mat-cell *matCellDef="let row" > {{availableSeats(row.seats)}} </td>
      </ng-container>

      <ng-container matColumnDef="sold">
        <th mat-header-cell *matHeaderCellDef > SOLD </th>
        <td mat-cell *matCellDef="let row" > {{soldSeats(row.seats)}} </td>
      </ng-container>

      <ng-container matColumnDef="reserve">
        <th mat-header-cell *matHeaderCellDef > RESERVE </th>
        <td mat-cell *matCellDef="let row" > {{reserveSeats(row.seats)}} </td>
      </ng-container>

      <ng-container matColumnDef="unavailable">
        <th mat-header-cell *matHeaderCellDef > UNAVAILABLE </th>
        <td mat-cell *matCellDef="let row" > {{unavailableSeats(row.seats)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
</div>
<ng-template #loadingComponent>
  <app-page-loading></app-page-loading>
</ng-template>
