@import "../../../../custom-theme";

.search {
  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    &_field {
      width: 250px;
      margin: 0 8px 16px 8px;
    }
  }
  /*&__table {
      height: 400px;
      overflow: auto;
  }*/
}
table {
  width: 100%;
}

