@import "../../../custom-theme";


.left-nav {
  height: 100%;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.2);

  &__head {
    display: flex;
  }

  &__menu-button {
    margin: 10px;
  }

  &__title {
    display: flex;
    margin-right: 10px;
    font-size: 26px;
    align-items: center;
    color: black;
    :hover {
      color: black;
    }
  }

}

.mat-line{
  margin: 0 !important;
}
.logo {
  bottom: 0;
  position: absolute;
  display: flex;
  &__text{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-weight: bold;
    &--b{
      // color: #E45F56;
      color: #aebfbe;
      font-size: 18px;
    }
    &--y{
      // color: #E45F56;
      color: #aebfbe;
      font-size: 18px;
    }
    &--d{
      color: #7ACCC8;
      font-size: 18px;
    }
    &--r{
      color: #4db6ac;
      font-size: 16px;
    }
    &--m{
      // color: #35404F;
      color: #4f9a94;
      font-size: 16px;
    }
    &--t{
      //color: #E45F56;
      color: #4db6ac;
      font-size: 16px;
    }
    &--ml{
      // color: #E45F56;
      color: #7ACCC8;
      font-size: 18px;
    }
  }

  img {
    width: 64px;
    height: 64px;
  }
}
