<div class="left-nav__head">
  <button class="left-nav__menu-button" mat-mini-fab (click)="isExpanded = !isExpanded" color="primary">
    <mat-icon aria-label="Menu">menu</mat-icon>
  </button>
  <a class="left-nav__title" mat-line routerLink="/" *ngIf="isExpanded">Dream Bus</a>
</div>
<mat-nav-list>
  <mat-list-item routerLink="/">
    <mat-icon mat-list-icon routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">person</mat-icon>
    <h4 mat-line routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="isExpanded">{{user.username}}</h4>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item [matMenuTriggerFor]="companyMenu" >
    <mat-icon mat-list-icon>sentiment_satisfied_alt</mat-icon>
    <h4 mat-line *ngIf="isExpanded">{{companyDefault}}</h4>
    <mat-menu #companyMenu="matMenu" xPosition="after">
      <ng-container *ngFor="let company of user.companies">
        <button mat-menu-item (click)="companyDefault = company.name; switchCompany(company.id) ">{{company.name}}</button>
      </ng-container>
    </mat-menu>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item routerLink="/routes">
    <mat-icon mat-list-icon routerLinkActive="active">directions</mat-icon>
    <h4 mat-line routerLinkActive="active" *ngIf="isExpanded">Routes</h4>
  </mat-list-item>
 <!-- <mat-list-item routerLink="/messages">
    <mat-icon mat-list-icon routerLinkActive="active">folder_shared</mat-icon>
    <h4 mat-line routerLinkActive="active" *ngIf="isExpanded">Messages</h4>
  </mat-list-item>
  <mat-list-item routerLink="/documents">
    <mat-icon mat-list-icon routerLinkActive="active">folder_shared</mat-icon>
    <h4 mat-line routerLinkActive="active" *ngIf="isExpanded">Documents</h4>
  </mat-list-item>-->
</mat-nav-list>
<div class="logo">
  <img src="assets/logo/logo-bus-100.png"
       alt="DRMTM" class="logo__img">
  <div class="logo__text" *ngIf="isExpanded">
    <span class="logo__text--b">b</span>
    <span class="logo__text--y">y</span>
    <span class="logo__text--d">D</span>
    <span class="logo__text--r">R</span>
    <span class="logo__text--m">M</span>
    <span class="logo__text--t">T</span>
    <span class="logo__text--ml">M</span>
  </div>
</div>

