@import "src/custom-theme.scss";

.mat-drawer-container {
  background-color: white;
  height: 100%;
}

.main {
  height: 100%;
  &__router-outlet {
    padding: 20px;
  }
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: $primary;
  margin: 0;
}
::ng-deep.mat-form-field-wrapper{
  padding: 0;
}
