<!--  <div class="main" *ngIf="!this.loader.getLoader; else loadingComponent">-->
  <div class="main" *ngIf="authService._isAuth(); else login">
    <mat-drawer-container  class="mat-typography" autosize>
      <mat-drawer class="main__sidebar" mode="side" disableClose="true" opened="true">
        <app-sidebar></app-sidebar>
      </mat-drawer>
    <!--  <div class="main__router-outlet" *ngIf="!this.loader.getLoader; else loadingComponent">-->
      <div class="main__router-outlet" >
        <router-outlet></router-outlet>
      </div>

    </mat-drawer-container>
<!--    <ng-template #loadingComponent>
      <app-page-loading></app-page-loading>
    </ng-template>-->
  </div>

  <ng-template #login>
    <app-login-page></app-login-page>
  </ng-template>



