<div class="company-routes">
  <mat-card *ngFor="let route of routes;" class="company-routes__card">
    <mat-card-title class="company-routes__title">
      №{{route.number}}: {{route.stations[0].address.city}} - {{route.stations[route.stations.length-1].address.city}}
    </mat-card-title>

    <mat-card-subtitle class="company-routes__date">
      <span class="company-routes__date--start">{{route.firstVoyageDate | date: 'medium'}}</span>
    </mat-card-subtitle>
  </mat-card>
</div>
