.company-routes {
  cursor: pointer;
  &__card {
    margin: 3px;
  }
  &__title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__date {
    height: 100%;
    flex-grow: 9;
    display: inline-flex;
    align-items: center;
  }
}