<mat-expansion-panel class="expansion-panel">
  <mat-expansion-panel-header
    [collapsedHeight]="collapsedHeight + 'px'"
    expandedHeight="200px"
    class="expansion-panel__header"
    #panelHeader
    (click)="panelHeader._toggle()"
  >
    <div class="expansion-panel__header__rows">
      <div appRowStyleDirective
           [rowHeight]="{rowsHeight: collapsedHeight, rows: 3}"
           class="expansion-panel__header__rows--row">
        <div class="expansion-panel__header__name"
             (click)="clickHead(indexRoute); panelHeader._toggle()">{{route.name}} №{{route.number}}</div>
        <button mat-icon-button
                color="warn">
          <mat-icon aria-label="delete">delete</mat-icon>
        </button>
      </div>
      <div appRowStyleDirective
           [rowHeight]="{rowsHeight: collapsedHeight, rows: 3}"
           class="expansion-panel__header__rows--row" >
        <div (click)="clickHead(indexRoute); panelHeader._toggle()" class="expansion-panel__header__date">
          <span class="expansion-panel__header__date--start">{{route.firstVoyageDate}}</span> -
          <span class="expansion-panel__header__date--end"> {{route.endDate}}</span>
        </div>
        <div>
          <span style="margin-right: 5px">Active</span>
          <mat-slide-toggle style="margin-right: 15px"
                            color="primary"
                            [checked]="route.isActive"></mat-slide-toggle>
        </div>
      </div>
      <div appRowStyleDirective
           [rowHeight]="{rowsHeight: collapsedHeight, rows: 3}"
           class="expansion-panel__header__rows--row" (click)="clickHead(indexRoute); panelHeader._toggle()" >

        <div class="expansion-panel__header__voyage" *ngIf="getPanelHeaderOpenStatus(indexRoute)">
          <div *ngFor="let voyage of route.voyageList; first as isFirst last as isLast"
               class="expansion-panel__header__voyage">
            <div class="expansion-panel__header__station expansion-panel__header__station--first"
                 *ngIf="isFirst else station"></div>
            <ng-template #station>
              <div class="expansion-panel__header__station"></div>
            </ng-template>
            <div class="expansion-panel__header__divider"
                 *ngIf="!isLast"></div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel-header>

  <div class="expansion-panel__body">
    <div class="expansion-panel__body__columns">
      <div class="expansion-panel__body__column">
        <div *ngFor="let voyage of route.voyageList; first as isFirst last as isLast"
             class="expansion-panel__body__voyage">
          <div class="expansion-panel__body__station expansion-panel__body__station--first"
               *ngIf="isFirst else station">first station
          </div>
          <ng-template #station>
            <div class="expansion-panel__body__station">station</div>
          </ng-template>
          <div class="expansion-panel__body__divider"
               *ngIf="!isLast"></div>
        </div>
      </div>
      <div class="expansion-panel__body__column">
        <div style="width: 200px">terw</div>
      </div>
      <div class="expansion-panel__body__column">
        <div style="width: 200px">werw</div>
      </div>
    </div>
  </div>
</mat-expansion-panel>
