<mat-card class="route-mat-card">
  <mat-card-title>
    <div class="route-mat-card__header__rows">
      <div appRowStyleDirective
           [rowHeight]="{rowsHeight: collapsedHeight, rows: 3}"
           class="route-mat-card__header__rows--row">
        <div class="route-mat-card__header__name">№{{route.number}} {{route.stations[0].address.city}}
          - {{route.stations[route.stations.length - 1].address.city}}</div>
        <button mat-icon-button
                color="warn"
                (click)="deleteRoute()">
          <mat-icon aria-label="delete">delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="mat-card-content__date">
      <span>{{route.firstVoyageDate | date : 'fullDate'}}</span>
    </div>
    <div class="mat-card-footer__stations">
      Stations: <span *ngFor="let station of route.stations; index as index"> {{index+1}}: {{station.address.city}}; </span>
    </div>
  </mat-card-content>
</mat-card>
