@import "../../../../custom-theme";

.mat-expansion-panel {
  border-radius: 16px;
}

.mat-card-content__date {
  &__date {
    height: 100%;
    flex-grow: 9;
    display: inline-flex;
    align-items: center;
    margin-bottom: 7px;
  }
}

.routes-container {
  &__route {
    margin-bottom: 16px;
    border-radius: 16px;
    &--new {
      background-color: white;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      width: 100px;
      padding: 8px;
      :first-child {
        width: 100%;
        border: dashed 2px $primary;
        border-radius: 8px;
      }

    }
  }
}

.route-mat-card {
  margin-bottom: 4px;
  &__header {
    &__rows {
      display: flex;
      flex-direction: column;
      width: 100%;
      &--row {
        display: flex;
        align-items: center;
      }
    }

    &__name {
      font-size: 24px;
      height: 100%;
      flex-grow: 9;
      display: inline-flex;
      align-items: center;
    }



    &__voyage {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }

    &__station {
      display: block;
      width: 24px;
      height: 24px;
      background-color: $primary;
      border-radius: 12px;
      border: solid 1px #4f9a94;

      &--first {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        border: solid 1px #4f9a94;
        background-color: #4f9a94;
      }
    }

    &__divider {
      height: 3px;
      width: 40px;
      background-color: #aebfbe;
      margin: 0 5px;
    }
  }

  &__body {

    &__columns {
      display: flex;
      flex-direction: row;
    }
    &__voyage {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__station {
      background: $primary;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      border: solid 1px #4f9a94;
    }
    &__divider {
      height: 40px;
      width: 3px;
      background-color: #aebfbe;
      margin: 5px 0;
      display: block;
    }
  }
}
