<mat-dialog-content class="route-create-popup">
  <div class="popup-create-route">
    <h1>Create new route</h1>
    <hr>

    <form class="route-form" [formGroup]="form" (ngSubmit)="submitRoute()">

      <div>
        <mat-form-field class="route__form_field" appearance="outline">
          <mat-label>Route number</mat-label>
          <input type="text" placeholder="Route number" matInput formControlName="number">
          <mat-error *ngIf="form.get('number').hasError('required')">Please enter route number</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="route__form_field" appearance="outline">
          <mat-label>Seat count</mat-label>
          <input type="number" placeholder="Seat count" matInput formControlName="seatCount">
          <mat-error *ngIf="form.get('seatCount').hasError('required')">Please enter seat count</mat-error>
          <mat-error *ngIf="form.get('seatCount').hasError('min')">Seat count can't be less then 1</mat-error>
          <mat-error *ngIf="form.get('seatCount').hasError('max')">Seat count can't be more then 100</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="route__form_field" appearance="outline">
          <mat-label>First voyage date</mat-label>
          <input placeholder="First voyage date"
                 matInput
                 formControlName="firstVoyageDate"
                 [matDatepicker]="picker"
          >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('firstVoyageDate').hasError('required')">Please enter first voyage date</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="route__form_field" appearance="outline">
          <mat-label>Deep of sale</mat-label>
          <input type="number" placeholder="Deep of sale" matInput formControlName="deepSales">
          <mat-error *ngIf="form.get('deepSales').hasError('required')">Please enter deep of sale</mat-error>
          <mat-error *ngIf="form.get('seatCount').hasError('min')">Deep of sale can't be less then 30</mat-error>
          <mat-error *ngIf="form.get('seatCount').hasError('max')">Deep of sale can't be more then 45</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="route__form_field" appearance="outline">
          <mat-label>Company</mat-label>
          <mat-select
            aria-label="Company"
            formControlName="companyId"
          >
            <mat-option *ngFor="let company of user.companies"
                        value="{{company.id}}">{{company.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('companyId').hasError('required')">Please select company</mat-error>
        </mat-form-field>
      </div>

      <div class="stations">
        <h2>Route stations</h2>
        <div class="route__form_field" formGroupName="stations">
          <mat-error *ngIf="form.get('stations').hasError('minLengthArray')">
            Please chose at least 2 stations!
          </mat-error>
          <button mat-stroked-button color="primary" type="button" (click)="addStation()">Add station</button>
          <div
            class="form-control"
            *ngFor="let controlStation of form.get('stations')['controls']; let idx = index"
          >
            <mat-form-field class="company-form-field" appearance="outline">
              <mat-label>Station {{idx + 1}}</mat-label>
              <mat-select
                aria-label="Station"
                formControlName="station"
                [formControlName]="idx"
              >
                <mat-option *ngFor="let station of stations"
                            [value]="station">{{station.address.city}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('stations').invalid">Please chose station</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="schedule">
        <h2>Route schedule</h2>
        <mat-form-field class="route__form_field" appearance="outline">
          <mat-label>Schedule type</mat-label>
          <mat-select
            aria-label="Тип раписания"
            formControlName="scheduleType"
          >
            <mat-option value="INTERVAL">Interval</mat-option>
            <mat-option value="WEEK">Week days</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('scheduleType').hasError('required')">Please chose schedule type</mat-error>
        </mat-form-field>

        <!-- if INTERVAL was chosen -->
        <div *ngIf="form.get('scheduleType').value === 'INTERVAL'">
          <mat-form-field class="route__form_field" appearance="outline">
            <mat-label>Interval</mat-label>
            <input type="number" placeholder="Интервал" matInput formControlName="scheduleInterval">
          </mat-form-field>
        </div>

        <!-- if WEEK was chosen -->
        <div *ngIf="form.get('scheduleType').value === 'WEEK'" class="week">
          <div>
            <input type="checkbox" id="scheduleMonday" formControlName="scheduleMonday">
            <label for="scheduleMonday">Monday</label>
          </div>
          <div>
            <input type="checkbox" id="scheduleTuesday" formControlName="scheduleTuesday">
            <label for="scheduleTuesday">Tuesday</label>
          </div>
          <div>
            <input type="checkbox" id="scheduleWednesday" formControlName="scheduleWednesday">
            <label for="scheduleWednesday">Wednesday</label>
          </div>
          <div>
            <input type="checkbox" id="scheduleThursday" formControlName="scheduleThursday">
            <label for="scheduleThursday">Thursday</label>
          </div>
          <div>
            <input type="checkbox" id="scheduleFriday" formControlName="scheduleFriday">
            <label for="scheduleFriday">Friday</label>
          </div>
          <div>
            <input type="checkbox" id="scheduleSaturday" formControlName="scheduleSaturday">
            <label for="scheduleSaturday">Saturday</label>
          </div>
          <div>
            <input type="checkbox" id="scheduleSunday" formControlName="scheduleSunday">
            <label for="scheduleSunday">Sunday</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn" type="submit" [disabled]="form.invalid" (click)="submitRoute()">Save</button>
  <button class="btn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>

