@import "../../../../custom-theme";

.route {
  &__form {
    display: flex;
    flex-flow: column;
    justify-content: center;

    &_field {
      align-items: center;
      width: auto;
      margin: 0 8px 16px 8px;
    }
  }
}

.popup-create-route {
  width: auto;
  height: auto;
}

.close {
  position: relative;
  float: right;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
}

.input {
  &.area-invalid.ng-touched {
    border: 1px solid #a94442;
  }

  &.area-valid.ng-touched {
    border: 1px solid #42A948;
  }
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2 {
  text-align: center;
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}

.button:disabled, button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.stations {
  border-style: groove;
}

.schedule {
  border-style: groove;
}

label {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}

.week {
  margin: 0 8px 16px 8px;
}

.popup::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
