<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline" class="login-form__field">
      <mat-label>Username</mat-label>
      <input type="text"
             aria-label="Username"
             matInput
             formControlName="username"
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="login-form__field">
      <mat-label>Password</mat-label>
      <input type="password"
             aria-label="Password"
             matInput
             formControlName="password"
      >
    </mat-form-field>

    <button  mat-flat-button type="submit">Login</button>
  </form>
</div>



