@import '../node_modules/@angular/material/theming';
// Plus imports for other base-components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$nbu-app-primary: mat-palette($mat-blue-gray, 500);
$nbu-app-primary: mat-palette($mat-teal, 200);
$nbu-app-accent:  mat-palette($mat-yellow, 600);

// The warn palette is optional (defaults to red).
$nbu-app-warn:    mat-palette($mat-red);

$primary: mat-color($nbu-app-primary);
$accent: mat-color($nbu-app-accent);
$warn: mat-color($nbu-app-warn);

// Create the theme object (a Sass map containing all of the palettes).
$nbu-app-theme: mat-light-theme($nbu-app-primary, $nbu-app-accent, $nbu-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nbu-app-theme);
