@import "src/custom-theme.scss";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  &:hover {
    color: $warn;
  }
}
.active {
  color: $primary;
}
.spacer {
  flex: 1 1 auto;
}
